url=http://ubuntu-devel:8080/
admin='"Jenkins Admin" <admin@ubuntu-devel>'

# id : username : password : keyfile
credentials=(ssh-flederwiesel:flederwiesel::/home/flederwiesel/.ssh/flederwiesel)

# hostname : host-mac: host-key : credentials
nodes=(ubuntu-devel:ssh-ed25519:AAAAC3NzaC1lZDI1NTE5AAAAIFkhw+Wq5tOJhQNE6dqwK+8/N6AHjhd5e8dZm3FxLBQ4:ssh-flederwiesel)

# name : project url : xml template : pipeline script
jobs=(yocto-docker-pipeline:github.com/flederwiesel/yocto-docker.git/:templates/pipeline.xml:templates/pipeline)
